body
  position: absolute
  font-size: 13pt
  top: 0
  left: 0
  width: 100%
  height: 100%
  padding: 0
  margin: 0
  background: black url("dark_mosaic.png")

#entry-area
  width: 100%
  height: 3em
  border-top: 1px solid black
  float: left
  position: fixed
  bottom: 0px
  left: 0px

#reader-window
  width: 100%
  height: 100%
  float: left

scale = 1
.keyboard
  font-size: 11pt*scale
  width: 100%
  height: auto
  max-width: 921px*scale
  min-width: 921px*scale*0.75
  border: 1px solid black
  background-color: #CCC
  padding-left: 1%
  padding-top: 1%
  position: fixed
  bottom: 0em

#main
  width: 960px
  height: 100%
  padding: 0
  margin: 0 auto
  color: #CCCCCC
  font-size: 200%

#welcome
  margin-top: 100px
  .space
    margin-left: 40px

.keyword
  margin: 0
  position: absolute
  span
    transition: all 1s;
    -moz-transition: all 2s; /* Firefox 4 */
    -webkit-transition: all 2s; /* Safari and Chrome */
    -o-transition: all 2s; /* Opera */
  .unfinished
    color: #AAAAAA
  .finished
    color: #33CC33

.demolish
  opacity: 0

.key
  z-index: 1
  float: left
  width: 4.9%
  border: 1px solid black
  margin-left: 0.5%
  margin-right: 0.4%
  margin-top: 0.5%
  margin-bottom: 0.5%
  padding: 0.5%
  height: 40px
  background-color: #EEE
  transition: all 0.4s
  -moz-transition: all 0.4s /* Firefox 4 */
  -webkit-transition: all 0.4s /* Safari and Chrome */
  -o-transition: all 0.4s /* Opera */

.pressed
  background-color: blue

.key > .main

.key > .alt

.keyrow
  clear: both


.toprow .key
  height: 100%
  width: 5.61%


.key.delete
  width: 7%


.key.tab
  width: 7.00%


.key.capslock
  width: 8.75%


.key.enter
  width: 10%


.key.shift
  width: 12.9%

.key.ctrl, .key.rctrl
  width: 14.5%

.key.alt, .key.ralt
  width: 10%

.key.space
  width: 38.50%

.keyrow
  height: 12%

.toprow
  height: 7%
